.container {
    display: flex;
}

.localVideoContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
}

.remoteVideoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.canvas {
    position: absolute;
}

.localVideo{
    width: 200px;
    height: 200px;
}